<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{exactClassForLecturerClass.ExactClasses[0].DateExactClass}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Занятие {{exactClassForLecturerClass.ExactClasses[0].DateExactClass}}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">{{exactClassForLecturerClass.SubjectName}}</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <!--<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>-->
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Группа</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected" *ngFor="let i of exactClassForLecturerClass.Groups">{{i.GroupName}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">{{ exactClassForLecturerClass.Groups[0].GroupName }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>ФИО</th>
                        <th *ngFor="let j of exactClassForLecturerClass.ExactClasses">{{j.DateExactClass}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let j of exactClassForLecturerClass.Groups[0].Students; let n = index">
                        <td>{{j.PersonFIO}}</td>
                        <td *ngFor="let k of exactClassForLecturerClass.Groups[0].Students[n].Attedanced">{{k}}</td>
                      </tr>
                    </tbody>
                    <!--<tfoot>
                      <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>

                      </tr>
                    </tfoot>-->
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>


