<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">{{selectedDir.Dir_name}}</h1>
    </header>
    <section id="modal-body">
        <!-- <p>Информация о направлении</p> -->
        <p *ngIf="!selectedDir; else elseBlock_dirs"><em>Загрузка...</em></p>
        <ng-template #elseBlock_dirs>

            <p>Вы собираетесь скачать кадровую справку направления {{selectedDir.Dir_name}}.</p>
            <p>Чтобы получить кадровую справку, пожалуйста, нажмите на кнопку "Скачать кадровую справку".</p>

            <button class="btn btn-primary" (click)="downloadProperty()">Скачать кадровую справку</button>

        </ng-template>
    </section>
    <footer id="modal-footer">
        <!-- <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button> -->
        <button mat-raised-button id="btn btn-info" (click)="closeModal()">Вернуться</button>
    </footer>
</div>
<!-- https://teamtreehouse.com/community/why-is-it-common-practice-to-wrap-everything-within-the-body-tag-with-a-div-tag -->