<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="common-indentation" style="overflow-x: hidden;">

    <div class="row bg-light">
        <h2><i>{{getPathString()}}</i></h2>
    </div>

    <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedIndex" style="overflow-x: hidden;">
        <!-- #enddocregion align-start -->

        <mat-tab label="Направления" style="overflow-x: hidden;">
            <div class="row">
                <p *ngIf="!dirs; else elseBlock_dirs"><em>Загрузка направлений...</em></p>
                <ng-template #elseBlock_dirs>
                    <table class='table table-striped groupstable' aria-labelledby="tableLabel" *ngIf="dirs">

                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Год начала</th>
                                <th></th>
                                <th colspan="2">&nbsp;ФГОС требования</th>
                                <th>Учебный план</th>
                                <th *ngIf="user.access_role_id != 3 && user.access_role_id != 4">Статус ППС</th>
                                <th *ngIf="user.access_role_id == 2 && user.dep_id != 2 || user.access_role_id == 3">
                                    Статус ОПОП</th>
                                <th>Кадровая справка</th>
                            </tr>
                        </thead>

                        <tr *ngFor="let item of dirs">

                            <!-- Название -->
                            <td>{{ item.Dir_name }}</td>

                            <!-- Год начала -->
                            <td>{{ item.StartYear }}</td>

                            <!-- Выбор направления -->
                            <td>
                                <button [disabled]="item.AcPl_id == null" class=" btn btn-primary"
                                    (click)="setSelectedDirection( item )">
                                    Выбрать
                                </button>
                            </td>

                            <!-- ФГОС требования -->
                            <td>
                                <!--kek1--> 
                                <div *ngIf="item.Status != null"> 
                                    <div *ngIf="item.Status_pps.Status_up == item.Status_pps.Status_down">
                                        <button class="btn btn-info" mat-raised-button id="logout-button"
                                        (click)="openModal( item )"
                                        [disabled]="item.Status.Status_up == 0 || item.Status.Status_up == 1">Подробнее</button>
                                    </div>
                                    <div *ngIf="item.Status_pps.Status_up != item.Status_pps.Status_down">
                                        <button class="btn btn-info" mat-raised-button id="logout-button"
                                        (click)="openModal( item )"
                                        [disabled]="true">Подробнее</button>
                                    </div>
                                </div>
                                <div *ngIf="item.Status == null">
                                    <button class="btn btn-info" mat-raised-button id="logout-button"
                                        (click)="openModal( item )"
                                        [disabled]="true">Подробнее</button>
                                </div>
                                <!-- <div style="border: solid 2px;">
                                    
                                </div> -->
                            </td>
                            <td>
                                <div>
                                    <span *ngIf="item.Highlight == 2">✅</span>
                                    <span
                                        *ngIf="item.Highlight == 1 && item.Status.Status_up == item.Status.Status_down">🟧</span>
                                    <span *ngIf="item.Status != null && item.Highlight == 0 && item.Status.Status_down != 0">❌</span>
                                    <span *ngIf="item.Highlight == -1 || item.Status.Status_down == 0">⬜</span>
                                    <!-- <span *ngIf="item.Highlight == -1 || item.Status_pps.Status_down == 0">⬜</span> -->
                                </div>
                            </td>

                            <!-- Учебный план -->
                            <p *ngIf="item.AcPl_id == null; else elseBlock_acPlan">
                                <td *ngIf="user.dep_id == item.Dep_id">
                                    <p>Загрузить учебный план</p>
                                    <!-- <mat-spinner *ngIf="spinnerIsOn" diameter="40"></mat-spinner> -->
                                    <input #file type="file" accept=".xlsx" multiple
                                        (change)="upload(file.files, item)" />
                                </td>
                                <td *ngIf="user.dep_id != item.Dep_id">
                                    <p>Учебный план не был загружен</p>
                                </td>
                            </p>
                            <ng-template #elseBlock_acPlan>
                                <td>
                                    <!-- <a href="ms-excel:ofe|u|http://localhost:4200/assets/PlanIST16.xlsx">
                                        Открыть учебный план
                                    </a> хотел бы обращаться к бэку за этим, так как лучше там скопировать в буффер и оттуда же и забирать-->
                                    <button class="btn btn-info" (click)="openAcPlan(item)">
                                        Скачать учебный план
                                    </button>
                                    <button *ngIf="user.dep_id == item.Dep_id" class="btn btn-info" mat-raised-button
                                        id="reload-acplan" (click)="openModalReloadAcPlan( item )">
                                        Изменить
                                    </button>
                                </td>
                            </ng-template>

                            <!-- Статус ППС -->
                            <td *ngIf="user.access_role_id != 3 && user.access_role_id != 4">
                                <div style="padding: 5px; width: 70px; height:30px;">
                                    <div *ngIf="item.Status_pps.Status_down != 0">
                                        {{item.Status_pps_msg}}
                                        <div *ngIf="item.Status_pps.Status_up != item.Status_pps.Status_down">
                                            <!-- <i class="fa fa-close"></i> -->
                                            ❌
                                        </div>
                                        <div *ngIf="item.Status_pps.Status_up == item.Status_pps.Status_down">
                                            <!-- in decimal &#10004; -->
                                            <!-- in hex   &#x2714;   -->
                                            ✅
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <!-- Статус ОПОП -->
                            <td
                                *ngIf="user.access_role_id == 2 && user.dep_id == item.Dep_id || user.access_role_id == 3">
                                <div style="padding: 5px; width: 70px; height:30px;">
                                    <div *ngIf="item.Status != null && item.Status.Status_down != 0">
                                        {{item.Status_msg}}
                                        <div *ngIf="item.Status.Status_up != item.Status.Status_down">
                                            <!-- <i class="fa fa-close"></i> -->
                                            ❌
                                        </div>
                                        <div *ngIf="item.Status.Status_up == item.Status.Status_down">
                                            <!-- in decimal &#10004; -->
                                            <!-- in hex  &#x2714;    -->
                                            ✅
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td *ngIf="user.dep_id != item.Dep_id && user.access_role_id != 3"></td>

                            <!-- Кадровая справка -->
                            <td>
                                <button [disabled]="!(item.AcPl_id != null && user.dep_id == item.Dep_id && item.Highlight == 2)"
                                    class="btn btn-primary" (click)="openModalShowDirProperty( item )">
                                    <!-- || user.dep_id != selectedDep.Dep_id -->
                                    Сформировать
                                </button>
                            </td>

                        </tr>

                    </table>
                </ng-template>
            </div>
        </mat-tab>

        <mat-tab label="Учебный план" class="bg-info" [disabled]="(selectedDir==null)">
            <app-hod-acplan style="margin-left: 5px;" *ngIf="selectedDir" [direction]="selectedDir">
            </app-hod-acplan>
        </mat-tab>

        <!-- <mat-tab label="Четыре">
            Content 4
        </mat-tab> -->

    </mat-tab-group>

</div>