<div class="common-indentation">

    <div class="row bg-light">
        <h2><i>Путь{{getPathString()}}</i></h2>
    </div>

    <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedIndex">
        <!-- #enddocregion align-start -->

        <mat-tab label="Кафедры">
            <div class="row">
                <p *ngIf="!deps; else elseBlock_deps"><em>Загрузка кафедр...</em></p>
                <ng-template #elseBlock_deps>
                    <table class='table table-striped groupstable' aria-labelledby="tableLabel" *ngIf="deps">

                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Название</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tr *ngFor="let item of deps">
                            <td></td>
                            <td>{{ item.Dep_name }}</td>
                            <td></td>
                            <td><button class="btn btn-light" (click)="setSelectedDepartment( item )">Выбрать</button>
                            </td>
                        </tr>

                    </table>
                </ng-template>
            </div>
        </mat-tab>

        <mat-tab label="Направления" [disabled]="(selectedDep==null)">
            <div class="row">
                <p *ngIf="!selectedDep; else elseBlock_dirs"><em>Загрузка направлений...</em></p>
                <ng-template #elseBlock_dirs>
                    <table class='table table-striped groupstable' aria-labelledby="tableLabel"
                        *ngIf="selectedDep.Dirs">

                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Год начала</th>
                                <th>ФГОС требования</th>
                                <th>Учебный план</th>
                                <th>Кадровая справка</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tr *ngFor="let item of selectedDep.Dirs">
                            <td>{{ item.Dir_name }}</td>
                            <td>{{ item.StartYear }}</td>
                            <!-- <td><button class="btn btn-info" (click)="showFgosRequirs( item )">Просмотр</button></td> -->
                            <td><button class="btn btn-info" mat-raised-button id="logout-button"
                                    (click)="openModal( item )">Просмотр</button></td>
                            <p *ngIf="item.AcPl_id == null; else elseBlock_acPlan">
                                <td *ngIf="user.dep_id == selectedDep.Dep_id">
                                    <p>Загрузить учебный план</p>
                                    <!-- <mat-spinner *ngIf="spinnerIsOn" diameter="40"></mat-spinner> -->
                                    <input #file type="file" accept=".xlsx" multiple
                                        (change)="upload(file.files, item)" />
                                </td>
                                <td>
                                    <p>Учебный план не был загружен</p>
                                </td>
                            </p>
                            <ng-template #elseBlock_acPlan>
                                <td>
                                    <!-- <a href="ms-excel:ofe|u|http://localhost:4200/assets/PlanIST16.xlsx">
                                        Открыть учебный план
                                    </a> хотел бы обращаться к бэку за этим, так как лучше там скопировать в буффер и оттуда же и забирать-->
                                    <button class="btn btn-info" (click)="openAcPlan(item)">
                                        Скачать учебный план
                                    </button>
                                    <button class="btn btn-info" mat-raised-button id="reload-acplan"
                                        (click)="openModalReloadAcPlan( item )">
                                        Изменить
                                    </button>
                                </td>
                            </ng-template>

                            <td>
                                <button [disabled]="item.AcPl_id == null && user.dep_id != selectedDep.Dep_id"
                                    class="btn btn-primary" (click)="openModalShowDirProperty( item )">
                                    Получить кадровую справку
                                </button>
                            </td>

                            <td>
                                <button class=" btn btn-primary" (click)="setSelectedDirection( item )">
                                    Выбрать
                                </button>
                            </td>
                        </tr>

                    </table>
                </ng-template>
            </div>
        </mat-tab>

        <mat-tab label="Группы" id="group_tab" [disabled]="(selectedDir==null)">
            <div class="row">
                <p *ngIf="!selectedDir; else elseBlock_groups"><em>Загрузка групп...</em></p>
                <ng-template #elseBlock_groups>

                    <div class="container" style="padding: 15px 0px 0px 15px;"
                        *ngIf="dirStatus; else elseBlockDirStatus">
                        <!-- Статус назначений преподавателей -->

                        <div *ngIf="!dirStatus.Message; else elseBlockMsg">

                            <div class="row">
                                <div class="col-3">
                                    <p>Показатели на общее назначение</p>
                                </div>

                                <div class="col-3">
                                    <p>4.4.3</p>
                                    <!--was 7.2.2-->
                                    <section class="example-section">
                                        <mat-progress-bar class="example-margin"
                                            [color]="getColorForRequirs(getMark722Full())" [mode]="mode"
                                            [value]="getDirStatus722Full()">
                                        </mat-progress-bar>
                                        <p><i><b>{{getDirStatus722Full()}} / 100 % ({{getMark722Full()}})</b></i></p>
                                    </section>
                                </div>

                                <div class="col-3">
                                    <p>4.4.4</p>
                                    <!--was 7.2.4-->
                                    <section class="example-section">
                                        <mat-progress-bar class="example-margin"
                                            [color]="getColorForRequirs(getMark724Full())" [mode]="mode"
                                            [value]="getDirStatus724Full()">
                                        </mat-progress-bar>
                                        <p><i><b>{{getDirStatus724Full()}} / 100 % ({{getMark724Full()}}) </b></i></p>
                                    </section>
                                </div>

                                <div class="col-3">
                                    <p>4.4.5</p>
                                    <!--was 7.2.3-->
                                    <section class="example-section">
                                        <mat-progress-bar class="mat-progress-bar-done"
                                            [color]="getColorForRequirs(getMark723Full())" [mode]="mode"
                                            [value]="getDirStatus723Full()">
                                        </mat-progress-bar>
                                        <p><i><b>{{getDirStatus723Full()}} / 100 % ({{getMark723Full()}})</b></i></p>
                                    </section>
                                </div>
                            </div>

                            <br />

                            <div class="row">
                                <div class="col-3">
                                    <p><b>Показатели на текущее назначение</b></p>
                                </div>

                                <div class="col-3">
                                    <p>4.4.3</p>
                                    <!--was 7.2.2-->
                                    <section class="example-section">
                                        <mat-progress-bar class="example-margin"
                                            [color]="getColorForRequirs(getMark722Part())" [mode]="mode"
                                            [value]="getDirStatus722Part()">
                                        </mat-progress-bar>
                                        <p><i><b>{{getDirStatus722Part()}} / 100 % ({{getMark722Part()}})</b></i></p>
                                    </section>
                                </div>

                                <div class="col-3">
                                    <p>4.4.4</p>
                                    <!--was 7.2.4-->
                                    <section class="example-section">
                                        <mat-progress-bar class="example-margin"
                                            [color]="getColorForRequirs(getMark724Part())" [mode]="mode"
                                            [value]="getDirStatus724Part()">
                                        </mat-progress-bar>
                                        <p><i><b>{{getDirStatus724Part()}} / 100 % ({{getMark724Part()}}) </b></i></p>
                                    </section>
                                </div>

                                <div class="col-3">
                                    <p>4.4.5</p>
                                    <!--was 7.2.3-->
                                    <section class="example-section">
                                        <mat-progress-bar class="mat-progress-bar-done"
                                            [color]="getColorForRequirs(getMark723Part())" [mode]="mode"
                                            [value]="getDirStatus723Part()">
                                        </mat-progress-bar>
                                        <p><i><b>{{getDirStatus723Part()}} / 100 % ({{getMark723Part()}})</b></i></p>
                                    </section>
                                </div>
                            </div>

                        </div>

                        <ng-template #elseBlockMsg>
                            <p><b>{{dirStatus.Message}}</b></p>
                        </ng-template>

                    </div>

                    <ng-template #elseBlockDirStatus>
                        <p><i>Загрузка показателей...</i></p>
                    </ng-template>

                    <table class='table table-striped groupstable' aria-labelledby="tableLabel"
                        *ngIf="selectedDir.Groups">

                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Название</th>
                                <th>Год начала</th>
                                <th>Год выпуска</th>
                                <th>Статус</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tr *ngFor="let item of selectedDir.Groups">
                            <td></td>
                            <td>{{ item.Group_name }}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <section *ngIf="selectedDir.AcPl_id != null" class="">

                                    <mat-progress-bar class="example-margin" [color]="colorPrimary" [mode]="mode"
                                        [value]="getGroupStatus(item)">
                                    </mat-progress-bar>
                                    <p><i><b>{{getGroupStatus(item)}} / 100 %</b></i></p>
                                </section>
                                <br />
                                <button class="btn btn-info" mat-raised-button id="group-status"
                                    (click)="openModalGroupStatus( item )">Подробнее</button>
                            </td>
                            <td><button class="btn btn-link" (click)="setSelectedGroup( item )">Выбрать</button></td>
                        </tr>

                    </table>
                </ng-template>
            </div>
        </mat-tab>

        <mat-tab label="Учебный план" class="bg-info" [disabled]="(selectedGroup==null)">
            <app-hod-acplan *ngIf="selectedGroup" [direction]="selectedDir" [group]="selectedGroup">
            </app-hod-acplan>
        </mat-tab>

        <!-- <mat-tab label="Четыре">
            Content 4
        </mat-tab> -->

    </mat-tab-group>

</div>