<div class="common-indentation">

    <div class="row bg-light">
        <h2><i>Путь{{getPathString()}}</i></h2>
    </div>

    <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="selectedIndex">
        <!-- #enddocregion align-start -->

        <mat-tab label="Кафедры">
            <div class="row">
                <p *ngIf="!deps; else elseBlock_deps"><em>Загрузка кафедр...</em></p>
                <ng-template #elseBlock_deps>
                    <table class='table table-striped groupstable' aria-labelledby="tableLabel" *ngIf="deps">

                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Название</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tr *ngFor="let item of deps">
                            <td></td>
                            <td>{{ item.dep_name }}</td>
                            <td></td>
                            <td><button class="btn btn-light" (click)="setSelectedDepartment( item )">Выбрать</button>
                            </td>
                        </tr>

                    </table>
                </ng-template>
            </div>
        </mat-tab>

        <mat-tab label="Направления" [disabled]="(selectedDep==null)">
            <div class="row">
                <p *ngIf="!selectedDep; else elseBlock_dirs"><em>Загрузка направлений...</em></p>
                <ng-template #elseBlock_dirs>
                    <table class='table table-striped groupstable' aria-labelledby="tableLabel"
                        *ngIf="selectedDep.dirs">

                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Год начала</th>
                                <th>ФГОС требования</th>
                                <th>Учебный план</th>
                                <th>Кадровая справка</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tr *ngFor="let item of selectedDep.dirs">
                            <td>{{ item.dir_name }}</td>
                            <td>{{ item.startYear }}</td>
                            <!-- <td><button class="btn btn-info" (click)="showFgosRequirs( item )">Просмотр</button></td> -->
                            <td><button class="btn btn-info" mat-raised-button id="logout-button"
                                    (click)="openModal( item )">Просмотр</button></td>
                            <p *ngIf="item.acPl_id == null; else elseBlock_acPlan">
                                <td>
                                    <p>Загрузить учебный план</p>
                                    <!-- <mat-spinner *ngIf="spinnerIsOn" diameter="40"></mat-spinner> -->
                                    <input #file type="file" accept=".xlsx" multiple
                                        (change)="upload(file.files, item)" />
                                </td>
                            </p>
                            <ng-template #elseBlock_acPlan>
                                <td>
                                    <!-- <a href="ms-excel:ofe|u|http://localhost:4200/assets/PlanIST16.xlsx">
                                        Открыть учебный план
                                    </a> хотел бы обращаться к бэку за этим, так как лучше там скопировать в буффер и оттуда же и забирать-->
                                    <button class="btn btn-info" (click)="openAcPlan(item)">
                                        Скачать учебный план
                                    </button>
                                    <button class="btn btn-info" mat-raised-button id="reload-acplan"
                                        (click)="openModalReloadAcPlan( item )">
                                        Изменить
                                    </button>
                                </td>
                            </ng-template>

                            <td>
                                <button [disabled]="item.acPl_id == null" class="btn btn-primary"
                                    (click)="openModalShowDirProperty( item )">
                                    Получить кадровую справку
                                </button>
                            </td>

                            <td>
                                <button class=" btn btn-primary" (click)="setSelectedDirection( item )">
                                    Выбрать
                                </button>
                            </td>
                        </tr>

                    </table>
                </ng-template>
            </div>
        </mat-tab>

        <mat-tab label="Группы" id="group_tab" [disabled]="(selectedDir==null)">
            <div class="row">
                <p *ngIf="!selectedDir; else elseBlock_groups"><em>Загрузка групп...</em></p>
                <ng-template #elseBlock_groups>

                    <div *ngIf="dirStatus; else elseBlockDirStatus">
                        <!-- Статус назначений преподавателей -->

                        <div *ngIf="!dirStatus.message; else elseBlockMsg">
                            <p>7.2.2</p>
                            <section class="example-section">
                                <mat-progress-bar class="example-margin" [color]="getColorForRequirs(getMark722())"
                                    [mode]="mode" [value]="getDirStatus722()">
                                </mat-progress-bar>
                                <p><i><b>{{getDirStatus722()}} / 100 % ({{getMark722()}})</b></i></p>
                            </section>

                            <p>7.2.3</p>
                            <section class="example-section">
                                <mat-progress-bar class="mat-progress-bar-done"
                                    [color]="getColorForRequirs(getMark723())" [mode]="mode"
                                    [value]="getDirStatus723()">
                                </mat-progress-bar>
                                <p><i><b>{{getDirStatus723()}} / 100 % ({{getMark723()}})</b></i></p>
                            </section>

                            <p>7.2.4</p>
                            <section class="example-section">
                                <mat-progress-bar class="example-margin" [color]="getColorForRequirs(getMark724())"
                                    [mode]="mode" [value]="getDirStatus724()">
                                </mat-progress-bar>
                                <p><i><b>{{getDirStatus724()}} / 100 % ({{getMark724()}}) </b></i></p>
                            </section>
                        </div>

                        <ng-template #elseBlockMsg>
                            <p><b>{{dirStatus.message}}</b></p>
                        </ng-template>

                    </div>

                    <ng-template #elseBlockDirStatus>
                        <p><i>Загрузка показателей...</i></p>
                    </ng-template>

                    <table class='table table-striped groupstable' aria-labelledby="tableLabel"
                        *ngIf="selectedDir.groups">

                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Название</th>
                                <th>Год начала</th>
                                <th>Год выпуска</th>
                                <th>Статус</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tr *ngFor="let item of selectedDir.groups">
                            <td></td>
                            <td>{{ item.group_name }}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <section *ngIf="selectedDir.acPl_id != null" class="">

                                    <mat-progress-bar class="example-margin" [color]="colorPrimary" [mode]="mode"
                                        [value]="getGroupStatus(item)">
                                    </mat-progress-bar>
                                    <p><i><b>{{getGroupStatus(item)}} / 100 %</b></i></p>
                                </section>
                                <br />
                                <button class="btn btn-info" mat-raised-button id="group-status"
                                    (click)="openModalGroupStatus( item )">Подробнее</button>
                            </td>
                            <td><button class="btn btn-link" (click)="setSelectedGroup( item )">Выбрать</button></td>
                        </tr>

                    </table>
                </ng-template>
            </div>
        </mat-tab>

        <mat-tab label="Учебный план" class="bg-info" [disabled]="(selectedGroup==null)">
            <app-hod-acplan *ngIf="selectedGroup" [direction]="selectedDir" [group]="selectedGroup">
            </app-hod-acplan>
        </mat-tab>

        <mat-tab label="Четыре">
            Content 4
        </mat-tab>

    </mat-tab-group>

</div>