<div class="row">
  <div class="col-md-6 mx-auto p-0">
    <br />
    <div class="card">
      <div class="login-box">
        <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
          <label for="tab-1" class="tab">Войти</label> <input id="tab-2" type="radio" name="tab" class="sign-up">
          <label for="tab-2" class="tab">Регистрация</label>

          <div class="login-space">
            <div class="login">

              <div class="group">
                <label class="label">Логин</label>
                <input type="text" [(ngModel)]="email" class="form-control" [value]="email"
                  (input)="email = $event.target.value" />
                <br />
                <label *ngIf="loginError" style="color: red;" class="label">{{loginError}}</label>
              </div>

              <div class="group">
                <label class="label">Пароль</label>
                <input type="password" class="form-control" [value]="password"
                  (input)="password = $event.target.value" />
                <br />
                <label *ngIf="passError" style="color: red;" class="label">{{passError}}</label>
              </div>

              <!-- <div class="group">
                <input id="check" type="checkbox" class="check" checked>
                <label for="check"><span class="icon"></span>
                  Keep me Signed in</label>
              </div> -->

              <div class="group">
                <input (click)="login()" type="submit" class="button" value="Войти">
              </div>

              <div>
                <label *ngIf="authError" class="label" style="color: red; font-size: large;">{{authError}}</label>
              </div>

              <div class="hr"></div>
              <div class="foot"> <a style="color:aqua;" href="#">Забыли пароль?</a> </div>
            </div>
            <div class="sign-up-form">
              <div>
                <p style="color:aqua;">
                  Если вас по каким-то причинам нет в системе, обратитесь к системному администратору
                </p>
              </div>
              <!-- <div class="group"> <label for="user" class="label">Username</label>
                <input id="user" type="text" class="input" placeholder="Create your Username">
              </div>
              <div class="group"> <label for="pass" class="label">Password</label>
                <input id="pass" type="password" class="input" data-type="password" placeholder="Create your password">
              </div>
              <div class="group"> <label for="pass" class="label">Repeat Password</label>
                <input id="pass" type="password" class="input" data-type="password" placeholder="Repeat your password">
              </div>
              <div class="group"> <label for="pass" class="label">Email Address</label>
                <input id="pass" type="text" class="input" placeholder="Enter your email address">
              </div>
              <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
              <div class="hr"></div>
              <div class="foot"> <label for="tab-1">Already Member?</label> </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="col-12 d-flex">

  <div class="container">
    <form>

      <div class="form-group">
        <label for="username">Логин</label>
        <input type="text" [(ngModel)]="email" class="form-control" [value]="email"
          (input)="email = $event.target.value" />
        <p>{{email}}</p>
        <div *ngIf="loginError" class="invalid-feedback">
          <div>{{loginError}}</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Пароль</label>

        <p>{{password}}</p>
        <div *ngIf="passError" class="invalid-feedback">
          <div *ngIf="">Необходимо ввести пароль</div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" (click)="login()">
          Войти
        </button>
      </div>

      <div>
      </div>

    </form>
  </div>

  <div class="container">
    <span class="psw">Забыли <a href="#">пароль?</a></span>
  </div>

</div> -->