<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!--<app-yes-no-modal #deleteModal
                    body="Вы действительно хотите удалить свой аккаунт?"
                    title="Предупреждение"
                    type="danger"></app-yes-no-modal>-->
  <!--<app-confirm-dialog></app-confirm-dialog>-->
  <!--Main content-->
  <!-- <button class="btn btn-primary pull-right" (click)="showDialog()">Show Dialog</button>-->
  <!--<button mat-button (click)="openAlertDialog()">Open Alert Dialog</button>-->

  <section class="content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-7">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab" (click)="update()">Портфолио</a></li>
                <li class="nav-item"><a class="nav-link" href="#attedances" data-toggle="tab" (click)="update()">Справки</a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="card">
                  <div class="card-header p-2">
                    <div class="row">
                      <div class="col-3">
                        <label>Подтвержденные</label>
                      </div>
                      <div class="col-1">
                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" (click)="selectChangeHandler4($event)" checked>
                      </div>

                      <div class="col-1 ">
                        <label>С:</label>
                      </div>
                      <div class="col-3 ">
                        <div class="input-group">
                          <input id="datetime" value="{{DateTimeStart}}" (change)="selectChangeHandler6($event)" type="date">
                        </div>
                      </div>


                      <div class="col-1 ">
                        <label>По:</label>
                      </div>
                      <div class="col-2 ">

                        <div class="input-group">
                          <input id="datetime" value="{{DateTimeEnd}}" (change)="selectChangeHandler7($event)" type="date">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="active tab-pane" id="activity">
                  <!-- Post -->
                  <div class="post" *ngFor="let i of portfolios">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="../../assets/img/user1-128x128.jpg" alt="user image">
                      <span class="username">
                        <a href="#">
                          {{i.PersonFIO}}
                        </a>


                        <!--<button type="button" class="btn btn-primary" >    X </button>-->
                        <!--<a class="float-right btn-tool"></a>-->
                      </span>
                      <span class="description">Активность добавлена - {{i.DateAdded}}</span>
                      <span class="description">Активность подтверждена - {{i.DateConfirmed}}</span>
                      <span class="description">Активность отклонена - {{i.DateNotConfirmed}}</span>
                    </div>
                    <h4>{{i.Name}}</h4>
                    <!-- /.user-block   href="/dashboard/profile/1739436577"  -->
                    <p>
                      {{i.Description}}
                   
                    </p>
                    <div class="btn-group btn-group-sm">
                      <a href="{{Url}}_Resources/portfolios/{{i.FilePath}}" target="_blank" class="btn btn-info"><i class="fas fa-eye"></i></a>
                      <button class="btn btn-success" value="{{i.IdPortfolio}}" id="{{i.IdPortfolio}}" (click)="openDialog($event)" ><i id="{{i.IdPortfolio}}" class="fas fa-check"></i></button>
                      <!--<ion-icon name="close-circle-outline"></ion-icon>-->
                      <button href="#" class="btn btn-danger" value="{{i.IdPortfolio}}"  id="{{i.IdPortfolio}}" (click)="openDialog2($event)"><i id="{{i.IdPortfolio}}"  class="fas fa-trash"></i></button>
                    </div>
                    <!--<button mat-button (click)="openDialog($event)" value="{{i.IdPortfolio}}">Open Confirm Dialog</button>-->
                    <!--<div class="row no-print">
      <div class="col-12">
        <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">

          <i class="fas fa-download"></i> Скачать файл
        </button>
      </div>
    </div>-->
                  </div>

                  <!-- /.post -->
                  <!-- Post -->
                  <!-- /.post -->
                </div>
                <div class="active tab-pane" id="attedances">
                  <!-- Post -->
                  <div class="post" *ngFor="let i of attedances">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="../../assets/img/user1-128x128.jpg" alt="user image">
                      <span class="username">
                        <a href="#">
                          {{i.PersonFIO}}
                        </a>


                        <!--<button type="button" class="btn btn-primary" >    X </button>-->
                        <!--<a class="float-right btn-tool"></a>-->
                      </span>
                      <span class="description">Добавлена - {{i.DateAdded}}</span>
                      <span class="description">Подтверждена - {{i.DateConfirmed}}</span>
                      <span class="description">Отклонена - {{i.DateNotConfirmed}}</span>
                    </div>
                    <!-- /.user-block   href="/dashboard/profile/1739436577"  -->
                    <p>
                      {{i.DocName}}
                      <br />  Действительна  с
                    </p>
                    <h6>
                      {{i.DateTimeStart}} 
                    </h6>
                    <p>
                      по
                    </p>
                    <h6>{{i.DateTimeEnd}}</h6>
                    <div class="btn-group btn-group-sm">
                      <a href="{{Url}}_Resources/attedanceReasons/{{i.FilePath}}" target="_blank" class="btn btn-info"><i class="fas fa-eye"></i></a>
                      <button href="#" class="btn btn-success" value="{{i.IdAttReas}}" (click)="openDialog3($event)"><i class="fas fa-check"></i></button>

                      <button href="#" class="btn btn-danger" value="{{i.IdAttReas}}" (click)="openDialog4($event)"><i class="fas fa-trash"></i></button>
                    </div>
                    <!--<button mat-button (click)="openDialog($event)" value="{{i.IdPortfolio}}">Open Confirm Dialog</button>-->

                  </div>

                  <!-- /.post -->
                  <!-- Post -->
                  <!-- /.post -->
                </div>
                <!-- /.tab-pane -->
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
