<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Домашнее задание №{{HW.IdClassWork}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Invoice</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">       

          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> {{HW.SubjectName}}

                  <small class="float-right">Срок сдачи: <span _ngcontent-ng-cli-universal-c0="" class="badge badge-pill">{{HW.DatePass}}</span></small>
                  <small class="float-right">Выдано:<span _ngcontent-ng-cli-universal-c0="" class="badge badge-pill">{{HW.DateGiven}}</span></small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                Выдано
                <address>
                  <strong>{{HW.LecturerFIO}}</strong><br>

                  Email:  {{cw.Lecturer.email}}
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                Исполнитель
                <address>
                  <strong>John Doe</strong><br>

                  Email: john.doe@example.com
                </address>
              </div>
              <!-- /.col -->
              
              <!-- /.col -->
            </div>

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <div class="form-group">
                  <!-- /.mailbox-controls -->
                  <div class="mailbox-read-message">
                   {{HW.TextWork}}
                  </div>
                </div>
                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Скачать файл
                </button>
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
        <div class="col-6">
          <div class="card card-primary " >
            <div class="card-header">
              <h3 class="card-title">Выполненное задание </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Ответ</label>
                  <textarea class="textarea " placeholder="Введите текст"
                            style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" (change)="selectChangeHandlerText($event)">{{StudentAnswer.TextDoClassWork}}</textarea>
                  <small class="float-right"></small>
                  <label>Получено баллов:<span _ngcontent-ng-cli-universal-c0="" class="badge badge-pill">{{StudentAnswer.BallHW}}</span></label>
                  <label>Сдано:<span _ngcontent-ng-cli-universal-c0="" class="badge badge-pill">{{StudentAnswer.DatePass}}</span></label>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">Файл</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="exampleInputFile">
                      <label class="custom-file-label" for="exampleInputFile">Прикрепите файл</label>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text" id="">Загрузить</span>
                    </div>
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Подтверждение</label>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary disabled"  (click)="postData()">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  </div>
