<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Домашнее задание №183</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Invoice</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
        

          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> {{cw.SubjectGroup.NameSubject}}
                  <small class="float-right">Выдано:{{cw.DateTimeGiven}}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                Выдано
                <address>
                  <strong>{{cw.Lecturer.PersonFIO}}</strong><br>

                  Email:  {{cw.Lecturer.email}}
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                Исполнитель
                <address>
                  <strong>John Doe</strong><br>

                  Email: john.doe@example.com
                </address>
              </div>
              <!-- /.col -->
              
              <!-- /.col -->
            </div>
            <!-- /.row -->
     
            <!-- /.row -->

        
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <div class="form-group">
                  <!-- /.mailbox-controls -->
                  <div class="mailbox-read-message">
                    <p>Hello John,</p>

                    <p>
                      Keffiyeh blog actually fashion axe vegan, irony biodiesel. Cold-pressed hoodie chillwave put a bird
                      on it aesthetic, bitters brunch meggings vegan iPhone. Dreamcatcher vegan scenester mlkshk. Ethical
                      master cleanse Bushwick, occupy Thundercats banjo cliche ennui farm-to-table mlkshk fanny pack
                      gluten-free. Marfa butcher vegan quinoa, bicycle rights disrupt tofu scenester chillwave 3 wolf moon
                      asymmetrical taxidermy pour-over. Quinoa tote bag fashion axe, Godard disrupt migas church-key tofu
                      blog locavore. Thundercats cronut polaroid Neutra tousled, meh food truck selfies narwhal American
                      Apparel.
                    </p>

                    <p>
                      Raw denim McSweeney's bicycle rights, iPhone trust fund quinoa Neutra VHS kale chips vegan PBR&amp;B
                      literally Thundercats +1. Forage tilde four dollar toast, banjo health goth paleo butcher. Four dollar
                      toast Brooklyn pour-over American Apparel sustainable, lumbersexual listicle gluten-free health goth
                      umami hoodie. Synth Echo Park bicycle rights DIY farm-to-table, retro kogi sriracha dreamcatcher PBR&amp;B
                      flannel hashtag irony Wes Anderson. Lumbersexual Williamsburg Helvetica next level. Cold-pressed
                      slow-carb pop-up normcore Thundercats Portland, cardigan literally meditation lumbersexual crucifix.
                      Wayfarers raw denim paleo Bushwick, keytar Helvetica scenester keffiyeh 8-bit irony mumblecore
                      whatever viral Truffaut.
                    </p>

                    <p>
                      Post-ironic shabby chic VHS, Marfa keytar flannel lomo try-hard keffiyeh cray. Actually fap fanny
                      pack yr artisan trust fund. High Life dreamcatcher church-key gentrify. Tumblr stumptown four dollar
                      toast vinyl, cold-pressed try-hard blog authentic keffiyeh Helvetica lo-fi tilde Intelligentsia. Lomo
                      locavore salvia bespoke, twee fixie paleo cliche brunch Schlitz blog McSweeney's messenger bag swag
                      slow-carb. Odd Future photo booth pork belly, you probably haven't heard of them actually tofu ennui
                      keffiyeh lo-fi Truffaut health goth. Narwhal sustainable retro disrupt.
                    </p>

                    <p>
                      Skateboard artisan letterpress before they sold out High Life messenger bag. Bitters chambray
                      leggings listicle, drinking vinegar chillwave synth. Fanny pack hoodie American Apparel twee. American
                      Apparel PBR listicle, salvia aesthetic occupy sustainable Neutra kogi. Organic synth Tumblr viral
                      plaid, shabby chic single-origin coffee Etsy 3 wolf moon slow-carb Schlitz roof party tousled squid
                      vinyl. Readymade next level literally trust fund. Distillery master cleanse migas, Vice sriracha
                      flannel chambray chia cronut.
                    </p>

                    <p>Thanks,<br>Jane</p>
                  </div>
                </div>
                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Скачать файл
                </button>
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
        <div class="col-6">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Выполненное задание </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Ответ</label>
                  <textarea class="textarea" placeholder="Введите текст"
                            style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                  <p class="text-sm mb-0">
                    Editor <a href="https://github.com/summernote/summernote">
                      Documentation and license
                      information.
                    </a>
                  </p>
                </div>

                <div class="form-group">
                  <label for="exampleInputFile">Файл ответа</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="exampleInputFile">
                      <label class="custom-file-label" for="exampleInputFile">Прикрепите файл</label>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text" id="">Загрузить</span>
                    </div>
                  </div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Подтверждение</label>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  </div>
