html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.common-indentation {
    padding: 20px 10px 10px 20px;
    margin: 10px 10px 10px 10px;
}
.common-indentation p {
    margin-left: 10px;
}

.mat-snack-bar-container {
    max-width: 800px;
}