<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Назначение преподавателя</h1>
        <h2 id="modal-title">
            <b>Группа:</b>{{selectedGroup.group_name}} &emsp;
            <b>Дисциплина:</b>{{selectedSubject.subjectName}} ({{selectedAttRec.subTypeName}})
        </h2>
        <!-- <h3 id="modal-title"> <b>selectedAttRec.sub_name</b> - selectedAttRec.subTypeName </h3> -->
    </header>
    <hr />
    <section id="modal-body">
        <p><b>Предупреждение:</b> будут перезагружены только записи </p>
    </section>
    <footer id="modal-footer">
        <!-- <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button> -->
        <button mat-raised-button id="btn btn-info" (click)="closeModal()">Go back</button>
    </footer>
</div>
<!-- https://teamtreehouse.com/community/why-is-it-common-practice-to-wrap-everything-within-the-body-tag-with-a-div-tag -->