<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">{{selectedDir.Dir_name}}</h1>
    </header>
    <section id="modal-body">
        <p>Требования ФГОС:</p>
        <p *ngIf="!selectedDir; else elseBlock_dirs"><em>Загрузка требований...</em></p>
        <ng-template #elseBlock_dirs>

            <p *ngIf="selectedDir.Requirs.length == 0; else elseBlock_dirs"><em>Список требований пуст.</em></p>
            <ng-template #elseBlock_dirs>
                <ul>
                    <li *ngFor="let i of selectedDir.Requirs">{{i.Fgos_num}} = {{i.SettedValue}} {{i.Unit_name}}</li>
                </ul>
            </ng-template>

        </ng-template>

        <!-- <a [href]="http://fgosvo.ru/fgosvo/92/91/4/9">ФГОС требования направления</a> -->
        <a href="http://fgosvo.ru/fgosvo/92/91/4" target="_blank">ФГОС требования направления</a>
    </section>
    <footer id="modal-footer">
        <!-- <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button> -->
        <button mat-raised-button id="btn btn-info" (click)="closeModal()">Вернутся</button>
    </footer>
</div>
<!-- https://teamtreehouse.com/community/why-is-it-common-practice-to-wrap-everything-within-the-body-tag-with-a-div-tag -->