<div style="padding: 10px;">

    <div class="card" style="padding: 10px;">

        <div class="row">
            <div class="col">
                <h2>Корректировка требований
                    <a href="http://fgosvo.ru/fgosvo/92/91/4">
                        ФГОС
                    </a>
                </h2>
            </div>
        </div>

        <div class="row" *ngIf="flag">

            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Год начала</th>
                        <!-- <th scope="col">пункт 4.4.3 (%)</th> -->
                        <th scope="col">
                            <p><abbr title="Профиль" class="initialism">пункт 4.4.3 (%)</abbr></p>
                        </th>
                        <th scope="col">
                            <p><abbr title="Привлечение" class="initialism">пункт 4.4.4 (%)</abbr></p>
                        </th>
                        <th scope="col">
                            <p><abbr title="Остепененность" class="initialism">пункт 4.4.5 (%)</abbr></p>
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of dirFgos">

                        <!-- Название -->
                        <td>{{ item.DirName }}</td>

                        <!-- Год начала -->
                        <td>{{ item.StartYear }}</td>

                        <td>
                            <input class="input" type="text" [value]="item.Fgos443"
                                (input)="item.Fgos443 = $event.target.value">
                        </td>

                        <td>
                            <input class="input" type="text" [value]="item.Fgos444"
                                (input)="item.Fgos444 = $event.target.value">
                        </td>

                        <td>
                            <input class="input" type="text" [value]="item.Fgos445"
                                (input)="item.Fgos445 = $event.target.value">
                        </td>

                        <td>
                            <button class="btn btn-primary" (click)="changeFgos(item)" [disabled]="false">
                                Сохранить
                            </button>
                        </td>

                    </tr>
                </tbody>

            </table>

        </div>

        <br>

        <div class="conteiner" *ngIf="!flag && user.dep_id != 3">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 90%;">
                    <div class="card-header text-center bg-light">
                        <h2>Ваша кафдера не является выпускающей</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Если у вас возникли проблемы, <a href="#">обратитесь к системному администратору</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- <div class="conteiner" *ngIf="!flag && user.dep_id == 3">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 90%;">
                    <div class="card-header text-center bg-light">
                        <h2>Ваш отдел</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Если у вас возникли проблемы, <a href="#">обратитесь к системному администратору</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

    </div>

</div>